@CHARSET "UTF-8";

body{
	font-size:150%;
	font-family:Times New Roman;
	background-color: #FFFFDD;
	text-align:center;
	
	color: #0000FF;
}

.header{
	padding:30px;
}

.content{
	color: #0000FF;
	text-shadow: 2px 2px 1px #777;
	font-size:150%;
}

H1{
	font-size:350%;
}